{% extends 'base.html' %}
{% block container %}
    <section>

        <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>

        <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          {% load crispy_forms_tags %}
          {% crispy form form.helper %}

        </div>
      </div>


      <p class="text-center pt-1">Найдено {{vacancy_list.count}} вакансий</p>
        {% if vacancy_list.count == 0 %}<p>Ничего не найдено</p>{% endif %}
          {% for vacancy in vacancy_list %}
         {% include 'vacancy_snippet.html' %}
        {% endfor %}
    </section>
 {% endblock %}

