{% extends 'base.html' %}
{% block container %}
 {% include 'left_menu_my_company.html' %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">{{ vacancy.title }}</h2>
              {% if success_send %}
              <p class="alert alert-info" role="alert">
                Информация о вакансии обновлена </p>{% endif%}
             {% load crispy_forms_tags %}
                  {% crispy form form.helper %}

            </section>
            <!-- END Tab -->

          </div>
        </div>
      </div>
    </div>
 {% endblock %}